#protab{
    border: 2px solid green;
    text-align: center;
}
#tabcon{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.colbtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(red,orange,yellow);
    
}
.buybtn{
    background-color: green;
    color: aliceblue;
    border: none;
    height: 30px;
    font-weight: 500;
}