#protab{
    border: 2px solid green;
    text-align: center;
}
#tabcon{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}
.colbtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
}
.buybtn{
    background-color: green;
    color: aliceblue;
    border: none;
    height: 40px;
    width: 100px;
    font-weight: 500;
    border-radius: 5px;
}